In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\lokti\anaconda3\envs\ibm_sql_db_for_ds\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in c:\users\lokti\anaconda3\envs\ibm_sql_db_for_ds\lib\site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\lokti\anaconda3\envs\ibm_sql_db_for_ds\lib\site-packages (from ibm_db_sa) (3.1.0)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\lokti\anaconda3\envs\ibm_sql_db_for_ds\lib\site-packages (from ibm_db_sa) (1.3.9)

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://ylg89839:juFr8vgUo7ILSTyg@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB?security=SSL

In [4]:
#Using Joins

In [5]:
%%sql
select * from SCHOOL limit 1

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

In [6]:
%%sql
select * from CENSUS limit 1

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(1, 'Rogers Park', Decimal('7.7'), Decimal('23.6'), Decimal('8.7'), Decimal('18.2'), Decimal('27.5'), 23939, 39)]

In [7]:
%%sql
select * from CRIME limit 1

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(3512276, 'HK587712', datetime.date(2004, 8, 28), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)')]

In [8]:
#Q1: list the school names, community names and average attendance for communities with a hardship index of 98
%sql select S.name_of_school, S.community_area_name, S.average_student_attendance\
from SCHOOL S\
LEFT OUTER JOIN CENSUS C\
on S.community_area_number = C.community_area_number\
where C.hardship_index=98;

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[('George Washington Carver Military Academy High School', 'RIVERDALE', '91.60%'),
 ('George Washington Carver Primary School', 'RIVERDALE', '90.90%'),
 ('Ira F Aldridge Elementary School', 'RIVERDALE', '92.90%'),
 ('William E B Dubois Elementary School', 'RIVERDALE', '93.30%')]

In [9]:
# Q2: list all crimes that took place at a school. Include case number, crime type and community name.

In [10]:
%%sql
select CR.case_number, CR.primary_type, S.community_area_number
from CRIME CR
left outer join SCHOOL S
on CR.community_area_number = S.community_area_number
where CR.location_description like '%SCHOOL%'
limit 5;

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[('HL353697', 'BATTERY', 43),
 ('JA460432', 'BATTERY', 70),
 ('JA460432', 'BATTERY', 70),
 ('HH639427', 'BATTERY', 25),
 ('HH639427', 'BATTERY', 25)]

In [11]:
%%sql
DROP VIEW VIEW_1
CREATE VIEW VIEW_1 AS
SELECT name_of_school as "School_Name", 
safety_icon as "Safety_Rating",
family_involvement_icon as "Family_Rating", 
environment_icon as "Environment_Rating",
instruction_icon as "Instruction_Rating",
leaders_icon as "Leaders_Rating",
teachers_icon as "Teachers_Rating"
from SCHOOL;

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "DROP VIEW VIEW_1" was found following "BEGIN-OF-STATEMENT".  Expected tokens may include:  "<space>".  SQLSTATE=42601\r SQLCODE=-104
[SQL: DROP VIEW VIEW_1 CREATE VIEW VIEW_1 AS
SELECT name_of_school as "School_Name",
safety_icon as "Safety_Rating",
family_involvement_icon as "Family_Rating",
environment_icon as "Environment_Rating",
instruction_icon as "Instruction_Rating",
leaders_icon as "Leaders_Rating",
teachers_icon as "Teachers_Rating"
from SCHOOL;]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
%%sql
select * from VIEW_1

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB

In [ ]:
%%sql
select School_Name, Leaders_Rating from VIEW_1

In [ ]:
#3 to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don't forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator