In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\lokti\anaconda3\envs\ibm_sql_db_for_ds\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in c:\users\lokti\anaconda3\envs\ibm_sql_db_for_ds\lib\site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\lokti\anaconda3\envs\ibm_sql_db_for_ds\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\lokti\anaconda3\envs\ibm_sql_db_for_ds\lib\site-packages (from ibm_db_sa) (3.1.0)

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://ylg89839:juFr8vgUo7ILSTyg@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB?security=SSL

In [4]:
%%sql
SELECT count(unique(id)) FROM CRIME

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(533,)]

In [5]:
%%sql
select* from CENSUS limit 5

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(1, 'Rogers Park', Decimal('7.7'), Decimal('23.6'), Decimal('8.7'), Decimal('18.2'), Decimal('27.5'), 23939, 39),
 (2, 'West Ridge', Decimal('7.8'), Decimal('17.2'), Decimal('8.8'), Decimal('20.8'), Decimal('38.5'), 23040, 46),
 (3, 'Uptown', Decimal('3.8'), Decimal('24.0'), Decimal('8.9'), Decimal('11.8'), Decimal('22.2'), 35787, 20),
 (4, 'Lincoln Square', Decimal('3.4'), Decimal('10.9'), Decimal('8.2'), Decimal('13.4'), Decimal('25.5'), 37524, 17),
 (5, 'North Center', Decimal('0.3'), Decimal('7.5'), Decimal('5.2'), Decimal('4.5'), Decimal('26.2'), 57123, 6)]

In [6]:
%%sql
select community_area_number, community_area_name from CENSUS where per_capita_income < 11000;

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(26, 'West Garfield Park'),
 (30, 'South Lawndale'),
 (37, 'Fuller Park'),
 (54, 'Riverdale')]

In [7]:
%%sql
select * from CRIMES

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "YLG89839.CRIMES" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: select * from CRIMES]
(Background on this error at: http://sqlalche.me/e/f405)

In [8]:
%%sql
select* from syscat.columns where tabname = 'case'

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[]

In [9]:
%%sql
select case_number from CRIME where LOWER(description) like '%minor%'

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[('HL266884',), ('HK238408',)]

In [10]:
%%sql
select * from CRIME
where LOWER(primary_type) like '%kidnapping%' AND
LOWER(description) like '%child%'

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

In [11]:
%%sql
select UNIQUE(primary_type) from CRIME
where LOWER(location_description) like '%school%';

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

In [88]:
%%sql
select "Elementary, Middle, or High School",AVG(safety_score) as AVERAGE_SCRORE from SCHOOL
group by "Elementary, Middle, or High School";

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

In [38]:
%%sql
select community_area_number,community_area_name, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS
order by PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
limit 5

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(54, 'Riverdale', Decimal('56.5')),
 (37, 'Fuller Park', Decimal('51.2')),
 (68, 'Englewood', Decimal('46.6')),
 (29, 'North Lawndale', Decimal('43.1')),
 (27, 'East Garfield Park', Decimal('42.4'))]

In [72]:
%%sql
select COMMUNITY_AREA_NUMBER, COUNT(*) as "no_of_crimes" from CRIME
where COMMUNITY_AREA_NUMBER NOTNULL
group by COMMUNITY_AREA_NUMBER
order by "no_of_crimes" desc
limit 1;

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[(25, 43)]

In [63]:
%%sql
select COMMUNITY_AREA_NAME from CENSUS
where hardship_index = (select max(hardship_index) from CENSUS);

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[('Riverdale',)]

In [110]:
%%sql
SELECT UNIQUE(COMMUNITY_AREA_NAME)
FROM CENSUS
WHERE COMMUNITY_AREA_NUMBER IN((select COMMUNITY_AREA_NUMBER from CRIME
                                 group by COMMUNITY_AREA_NUMBER
                                 order by count(primary_type) desc
                                 limit 1))

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[('Austin',)]

In [111]:
%%sql
SELECT UNIQUE(COMMUNITY_AREA_NAME)
FROM CENSUS
WHERE COMMUNITY_AREA_NUMBER = (select COMMUNITY_AREA_NUMBER from CRIME group by COMMUNITY_AREA_NUMBER order by count(*) desc limit 1)

 * ibm_db_sa://ylg89839:***@815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30367/BLUDB
Done.

[('Austin',)]